@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-display: swap;
	font-weight: 300;
	src: local(''),
		url('/fonts/Ubuntu/Ubuntu-Light.woff') format('woff'),
		url('/fonts/Ubuntu/Ubuntu-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-display: swap;
	font-weight: 300;
	src: local(''),
		url('/fonts/OpenSans/OpenSans-Light.woff') format('woff'),
		url('/fonts/OpenSans/OpenSans-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local(''),
		url('/fonts/Ubuntu/Ubuntu-Regular.woff') format('woff'),
		url('/fonts/Ubuntu/Ubuntu-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local(''),
		url('/fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
		url('/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-display: swap;
	font-weight: 500;
	src: local(''),
		url('/fonts/Ubuntu/Ubuntu-Medium.woff') format('woff'),
		url('/fonts/Ubuntu/Ubuntu-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-display: swap;
	font-weight: 500;
	src: local(''),
		url('/fonts/OpenSans/OpenSans-Medium.woff') format('woff'),
		url('/fonts/OpenSans/OpenSans-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-display: swap;
	font-weight: 600;
	src: local(''),
		url('/fonts/OpenSans/OpenSans-SemiBold.woff') format('woff'),
		url('/fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local(''),
		url('/fonts/Ubuntu/Ubuntu-Bold.woff') format('woff'),
		url('/fonts/Ubuntu/Ubuntu-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local(''),
		url('/fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
		url('/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-display: swap;
	font-weight: 800;
	src: local(''),
		url('/fonts/OpenSans/OpenSans-ExtraBold.woff') format('woff'),
		url('/fonts/OpenSans/OpenSans-ExtraBold.woff2') format('woff2');
}
