---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container/Container.vue";
import Videos from "@modules/Videos/views/Videos.vue";
import Heading from '@components/Heading/Heading.vue'
import { getVideos } from "@modules/Videos/js/Videos";
import { getMedia } from '@tools/filters'

let videos = await getVideos()
videos.list = videos.list.map((i) => {
	i.video = getMedia(i.video)
	i.preview = getMedia(i.preview)
	return i
})
---
<Layout
	meta={videos.meta}
>
	<Container
		class="!pb-12 lg:!pb-[100px]"
		breadcrumbTitle="Видеогалерея"
	>
		<Heading title="Видео"/>
		<p class="text-left lg:text-center text-dark-8">Здесь мы размещаем все видео-контент с полезной информацией для наших клиентов</p>
		<Videos client:load list={videos}/>
	</Container>
</Layout>
